@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.container {
    margin: 1rem 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-area li {
    display: inline;
    justify-content: space-between;
    margin-left: 4rem;
}

.nav-area a {
    text-decoration: none;
    font-weight: 800;
    font-size: 12px;
 }

 .nav button {
    background-color: #FEDB0D;
    padding: 5px 18px;
    font-size: 10px;
    box-shadow: 0px 1px 4px rgba(254, 225, 51, 0.45), 0px 2px 2px rgba(50, 50, 50, 0.15);
    border-radius: 25px;
    border-color: #FEDB0D;
 }


 .channels {
    margin: 10rem 0;
   
 }

.channels-des {
    width: 21.1rem;
}    

.channels h2 {
    color: #00A4DE;
 }

 .channels h3 {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
    height: 12rem;
    line-height: 2.7rem;
}

.channels p {
     font-size: 13px;
}

.channels button {
    background: #00A4DE;
    box-shadow: 0px 1px 4px rgba(0, 164, 222, 0.45), 0px 2px 2px rgba(50, 50, 50, 0.15);
    border-radius: 25px;
    border-color: #00A4DE;
    color: white;
    font-size: 12px;
    padding: 3px 10px;
    margin: 1.5rem 0;
}


 .img1 {
    position: absolute;
    top: 6rem;
    right: 0;
    height: 18rem;
    width: 8rem;
}

.img2 {
    position: absolute;
    bottom: 3rem;
    right: 9.5rem;
    height: 19rem;
    width: 10rem;
}

.img3{
    position: absolute;
    top: 6rem;
    right: 20rem;
    height: 20rem;
    width: 12rem;
    
}

.img4 {
    position: absolute;
    bottom: -5.5rem;
    right: 0;
    height: 18rem;
    width: 9rem;
}

.img5 {
    position: absolute;
    bottom: -5rem;
    right: 20rem;
    height: 17rem;
    width: 9.7rem;
}

.img6 {
    position: absolute;
    bottom: -17rem;
    right: 9.5rem;
    height: 19rem;
    width: 10rem;
    background: transparent;
}

.img7 {
    position: absolute;
    bottom: 3rem;
    right: 32.5rem;
    height: 20rem;
    width: 9.5rem;
}


.service {
    margin-top: 14rem;
    background: #00A4DE;
}

.service-des h1 {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 600;
    color: white;
    /* padding-top: 2rem; */
    margin: auto;
    width: 26rem;
    line-height: 3rem;
}
.service-des h1:nth-of-type(1){
    padding-top: 2rem; 
    margin-top: 2rem;
}

.service-des p {
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    width: 25rem;
}

.service-des p:nth-last-of-type(2) {
    padding-top: 1rem;
}

.service-dp {
    display: flex;
    justify-content: space-evenly;

}

.service-dp h3 {
    font-size: 16px;
    color: white;
}

.service-dp p {
    font-size: 13px;
    padding-top: 0.2rem;
    color: white;
    width: 13rem;
}

.dp-1 {
    margin-top: 20rem;
}

.dp-2 {
    margin-top: 4rem;
    margin-left: 2rem;
}

.dp-3 {
    margin-top: 11rem;
    margin-left: 2rem;
}

.main {
    position: absolute; 
    width: 21rem;
    height: 9rem;
    bottom: -36rem;
    right: 13rem;
}

.long {
    position: absolute;
    width: 27rem;
    right: 6rem;
    bottom: -52rem;
}

.color {
    position: absolute; 
    width: 24rem;
    height: 8rem;
    bottom: -53rem;
    left: 9rem;
}

.types h1 {
    margin: auto;
    width: 26rem;
    line-height: 3rem;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.types p {
    font-size: 11px;
    margin: auto;
    width: 24rem;
    margin-left: 25rem;
}

.types-channels {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.basic button {
    background: rgba(50, 50, 50, 0.14);
    border-radius: 0px 35px 35px 35px;
    border-color: rgba(50, 50, 50, 0.14);
    padding: 0.5rem 2rem;
}    

.intermediate button {
    background: #FFE54B;
    border-radius: 0px 35px 35px 35px;
    border-color: #FFE54B;
    padding: 0.5rem 3rem;
    width: 15rem;
}

.advance button {
    background: #00A4DE;
    border-radius: 0px 35px 35px 35px;
    border-color: #00A4DE;
    padding: 0.5rem 3rem;
    width: 15rem;
    margin-right: 4rem;
}

.type-p {
    display: flex;
    font-size: 12px;
}

.p2 {
    margin-left: 16rem;
    margin-top: 1rem;
    padding-top: 0.3rem;
    line-height: 1.5rem;
}

.p3  {
    margin-top: 1rem;
    margin-left: 17rem;
    padding-top: 0.3rem;
    line-height: 1.5rem;
}

.p1 {
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
    line-height: 1.5rem;
}

.p1 p {
    width: 10rem;
}

.p2 p{
    width: 13rem;
}

.earn {
    background: #011D33;
    padding-bottom: 6rem
}

.earn1 h3 {
    margin-bottom: -6rem;
    padding: 6rem 25rem;
    color: white;
    margin: auto;

}

.earn1 button {
    padding: 0.4rem 0.7rem;
    color: white;
    /* margin: auto; */
    background: #00A4DE;
    box-shadow: 0px 1px 4px rgba(0, 164, 222, 0.45), 0px 2px 2px rgba(50, 50, 50, 0.15);
    border-radius: 25px;
    border-color: #00A4DE;
    font-size: 12px;
    position: absolute;
    bottom: -90rem;
    left: 33rem;
    margin-bottom: -1rem ;
}

.foot {
    display: flex;
    /* margin: 2rem 1rem; */
 }

.footer {
    margin-right: 3rem;
}

.footer-logo img {
    margin-left: 1.5rem;
}

.bottom {
    display: flex;
    background: #EFF3F9;
    justify-content: space-between;
}

.privacy {
    display: flex;
    margin: 1rem;
}

.privacy p {
    margin-left: 3rem;
    font-size: 12px;
}

.all p {
    padding: 1rem 2rem;
    font-size: 12px;
}